<template>
  <div
    id="related-articles"
    class="grid-items container"
    data-onapp-init-v-controller="gridHeadlessContentController"
    :data-api-endpoint-url="dataItems"
    :data-pagination-size="paginationSize"
    :data-filters-parameter="filterParameter"
  >
    <ul class="article-list__wrapper row" />
    <button class="button-pinned-articles">
      Flere artikler
    </button>
  </div>
</template>
<script lang="ts">
import { Component, Prop, Vue } from "nuxt-property-decorator";

@Component

export default class extends Vue {
  @Prop() articles!: any;

  @Prop() articlesId!: any;

  get dataItems() {
    const dataItemsURL = `${process.env.API_URL}/api/articles`;
    return dataItemsURL;
  }

  get paginationSize() {
    const paginationSize = "{\"mobile\":4,\"desktop\":4}";
    return paginationSize;
  }

  get filterParameter() {
    const filterParameter = `{"relatedArticles": {"param": "articles_id", "value": "${this.articlesId.join()}"}}`;
    return filterParameter;
  }
}
</script>
<style lang="postcss" scoped></style>
