<template>
  <nav class="social-links">
    <ul class="social-links__wrapper">
      <li
        v-for="(social, index) in items"
        :key="index"
        class="social-links__item"
      >
        <a
          class="social-links__link"
          :href="social.url"
          :title="social.name"
          :target="social.target"
        >
          <svg-icon :name="social.type" class="social-links__icon" />
        </a>
      </li>
    </ul>
  </nav>
</template>
<script lang="ts">
import { Component, Vue, Prop } from "nuxt-property-decorator";
import { ISocialLink } from "../../types";

@Component({})
export default class extends Vue {
  @Prop({
    default: [],
  })
  items!: ISocialLink[];
}
</script>
<style lang="postcss" scoped>
.social-links {
  &__wrapper {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  &__item + &__item {
    margin-top: 15px;
  }
  &__icon {
    width: 50px;
    height: 50px;
    max-width: inherit;
    display: inline-block;
  }
}
</style>
