<template>
  <div>
    {{ viewModel }}
    <h2 class="dynamic-articles-row-component__header">
      {{ viewModel.headline }}
    </h2>
    <div
      :class="`dynamic-articles-row-component row article-type-${getArticleSize(viewModel.articles.data)} ${
        viewModel.textOnlyVariant ? 'text-only-variant' : 'no-variant'
      }`"
    >
      <div v-for="(article, index) in viewModel.articles.data" :key="index" class="article-col">
        <a :href="article.url" :title="article.title" class="article-col__inner row">
          <div class="article-col__inner-text-wrapper">
            <div class="article-col__inner-text-wrapper-introduction">
              <span>{{ article.genre }}. {{ article.authorFirstName }} {{ article.authorLastName }}</span>
            </div>
            <div class="article-col__inner-text-wrapper-title">
              <span>{{ article.title }}</span>
            </div>
            <div v-if="article.ingress" class="article-col__inner-text-wrapper-description">
              <!-- <span>{{ article.ingress }}</span> -->
              <div v-html="article.ingress" />
            </div>
          </div>
          <div class="article-col__inner-image">
            <!-- <gyl-image v-if="article.image" :image="article.image" :sizes="imageSizes" /> -->
            <img v-if="article.image" :data-image-src="article.image.url" :alt="article.image.alt" />
          </div>
        </a>
      </div>
    </div>
    <hr />
  </div>
</template>

<script lang="ts">
import { Component } from "nuxt-property-decorator";
import GridEditorMixin from "../../../mixins/GridEditorMixin.vue";
import GylImage from "../../common/GylImage.vue";

@Component({
  components: {
    GylImage,
  },
})
export default class ArticleListVinduetRow extends GridEditorMixin {
  getArticleSize(articles: Array<any>) {
    return 12 / articles.length;
  }

  get imageSizes() {
    let imageSizes;
    switch (this.viewModel.articles.length) {
      case 1:
        imageSizes = [
          {
            imageWidth: 150,
          },
        ];
        break;
      case 2:
        imageSizes = [
          {
            imageWidth: 150,
          },
        ];
        break;

      default:
        imageSizes = [
          {
            imageWidth: 300,
          },
        ];
        break;
    }
    return imageSizes;
  }
}
</script>
<style lang="postcss">
.dynamic-articles-row-component {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;

  &__header {
    text-align: center;
    margin-bottom: 15px;
    text-transform: uppercase;
  }

  & .article-col {
    & a {
      color: inherit;
      text-decoration: none;
    }
    &__inner {
      height: 100%;
      margin: 0;
      &-text-wrapper {
        height: 100%;
        max-width: 25%;
        flex-basis: 25%;
        padding-right: 30px;

        &-introduction {
          font-size: 14px;
          margin-bottom: 15px;
        }
        &-title {
          font-size: 30px;
          line-height: 35px;
          margin-bottom: 15px;
        }
        &-description {
        }
      }
      &-image {
        height: 100%;
        max-width: 75%;
        flex-basis: 75%;
        & img {
          width: 100%;
          height: 100%;
          /* height: 400px; */
          object-fit: cover;
        }
      }
      @media (--viewport-xs-max) {
        &-text-wrapper {
          order: 2;
          max-width: 100%;
          flex-basis: 100%;

          &-introduction {
            margin: 15px 0;
            font-size: 12px;
            margin-bottom: 7px;
          }
          &-title {
            font-size: 20px;
            line-height: 27px;
            margin-bottom: 7px;
          }
          &-description {
            font-size: 14px;
            line-height: 17px;
            display: -webkit-box;
            -webkit-line-clamp: 5;
            -webkit-box-orient: vertical;
            overflow: hidden;
          }
        }
        &-image {
          order: 1;
          max-width: 100%;
          flex-basis: 100%;
          height: initial;
          & > img {
            min-height: 200px;
          }
        }
      }
    }
  }

  &.article-type {
    width: 100%;
    &-12 .article-col {
      flex: 0 1 100%;
      @media (--viewport-xs-max) {
        height: fit-content;
        & .article-col__inner {
          margin: 12.5px;

          &-text-wrapper-introduction {
            margin: 7px 0;
          }
        }
      }
    }
    &-6 .article-col,
    &-4 .article-col,
    &-3 .article-col {
      flex: 0 1 50%;

      &:nth-child(1) .article-col__inner {
        margin-right: 12.5px;
      }

      &:nth-child(2) .article-col__inner {
        margin-left: 12.5px;
      }

      & .article-col__inner {
        &-text-wrapper {
          order: 2;
          max-width: 100%;
          flex-basis: 100%;

          &-introduction {
            margin: 15px 0;
          }
          &-description {
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
          }
        }
        &-image {
          order: 1;
          max-width: 100%;
          /* max-height: 75%; */
          height: 400px;
          flex-basis: 100%;
          /* height: initial; */
        }
      }

      @media (--viewport-xs-max) {
        height: fit-content;
        max-width: 100%;
        flex-basis: 100%;

        /* &:after {
          position: absolute;
          content: "";
          width: 100vw;
          left: 50%;
          transform: translateX(-50%);
          height: 1px;
          background-color: #000;
        } */

        &:nth-child(1) .article-col__inner {
          margin: 12.5px 12.5px 25px;
        }
        &:nth-child(2) .article-col__inner {
          margin: 25px 12.5px;
        }

        &:last-child {
          &:after {
            display: none;
          }
        }

        & .article-col__inner {
          margin: 12.5px;

          &-text-wrapper {
            order: 2;
            max-width: 100%;
            flex-basis: 100%;

            &-introduction {
              margin: 7px 0;
            }
            &-description {
              display: -webkit-box;
              -webkit-line-clamp: 2;
              -webkit-box-orient: vertical;
              overflow: hidden;
            }
            &-title {
            }
          }
        }
      }
    }
    &-4 .article-col,
    &-3 .article-col {
      @media (--viewport-ms-min) {
        flex: 0 1 33.33%;
        max-width: 33.33%;

        & .article-col__inner {
          margin: 0 12.5px;
          &-text-wrapper {
            padding: 0;
            &-description {
              display: none;
            }
            &-title {
              display: -webkit-box;
              -webkit-line-clamp: 4;
              -webkit-box-orient: vertical;
              overflow: hidden;
              margin-bottom: 0;
            }
          }
          &-image {
            width: 400px;
            height: 200px;
            /* max-height: 75%; */
          }
        }

        &:first-child .article-col__inner {
          margin-left: 0;
        }

        &:last-child .article-col__inner {
          margin-right: 0;
        }
      }

      @media (--viewport-xs-max) {
        height: fit-content;
        max-width: 100%;
        flex-basis: 100%;

        & .article-col__inner {
          margin: 25px 12.5px;
          &-text-wrapper-description {
            display: none;
          }
        }
      }
    }
    &-3 .article-col {
      @media (--viewport-ms-min) {
        flex: 0 1 25%;
        max-width: 25%;
      }
    }
  }
  &.text-only-variant {
    justify-content: center;

    &.article-type {
      width: 100%;
      &-12 > .article-col {
        flex: 0 1 50%;
        @media (--viewport-xs-max) {
          flex: 0 1 100%;
        }
      }
      &-12 .article-col,
      &-6 .article-col,
      &-4 .article-col,
      &-3 .article-col {
        height: fit-content;
        /* height: auto; */
        &__inner {
          &-image {
            display: none;
          }
          &-text-wrapper {
            height: 100%;
            width: 100%;
            max-width: 100%;
            flex-basis: 100%;

            &-introduction {
              margin-top: 0;
            }

            &-description {
              display: -webkit-box;
              -webkit-line-clamp: 2;
              -webkit-box-orient: vertical;
              overflow: hidden;
            }
          }
        }
      }
    }
  }
}
</style>
