<template>
  <div class="between-title row">
    <div class="between-title__content col-xs-12 col-sm-6">
      <h3 v-if="viewModel.headline" class="between-title__headline">
        {{ viewModel.headline }}
      </h3>
    </div>
  </div>
</template>

<script lang="ts">
import { Component } from "nuxt-property-decorator";
import GridEditorMixin from "../../../mixins/GridEditorMixin.vue";

@Component
export default class BetweenTitle extends GridEditorMixin {}
</script>
<style lang="postcss" scoped>
.between-title {
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 0;
  &__headline {
    text-align: center;
    text-transform: uppercase;
  }
}
</style>
