<template>
  <div class="image-component row">
    <div v-if="viewModel.image" class="image-component__image col-xs-12">
      <figure :class="(viewModel.image.isBigger)?'is-bigger':''">
        <img :src="viewModel.image.url" :alt="viewModel.image.alt">
        <figcaption v-if="viewModel.image.title" class="center-xs">
          {{ viewModel.image.title }}
        </figcaption>
      </figure>
    </div>
  </div>
</template>

<script lang="ts">
import { Component } from "nuxt-property-decorator";
import GridEditorMixin from "../../../mixins/GridEditorMixin.vue";

@Component
export default class ImageComponent extends GridEditorMixin {}
</script>
<style lang="postcss" scoped>
.image-component {
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
}
.is-bigger {
  @media (--viewport-md-min) {
    min-width: 796px;
    position: relative;
    transform: translateX(-50%);
    left: 50%;
    z-index: -1;
  }
}
</style>
