<template>
  <div class="kritikk-row-component row">
    <div v-for="(article, index) in viewModel.articles" :key="index" class="kritikk-col">
      <a :href="article.link" :title="article.title" class="kritikk-col__inner row">
        <div class="kritikk-col__inner-image">
          <img :data-image-src="article.image.url" :alt="article.image.alt">
        </div>
        <div class="kritikk-col__inner-text-wrapper">
          <div class="kritikk-col__inner-text-wrapper-introduction">
            <span>{{ article.introduction }}</span>
          </div>
          <div class="kritikk-col__inner-text-wrapper-title">
            <span>{{ article.title }}</span>
          </div>
          <div class="kritikk-col__inner-text-wrapper-description">
            <span>{{ article.description }}</span>
          </div>
        </div>
      </a>
    </div>
  </div>
</template>

<script lang="ts">
import { Component } from "nuxt-property-decorator";
import GridEditorMixin from "~/mixins/GridEditorMixin.vue";

@Component
export default class KritikkRow extends GridEditorMixin {}
</script>
<style lang="postcss">
.kritikk-row-component {
  margin: 0;
  padding: 0;

  & .kritikk-col {
    flex-basis: 25%;
    max-width: 25%;
    width: 25%;

    & a {
      color: inherit;
      text-decoration: none;
    }
    &__inner {
      height: inherit;
      margin: 0 12.5px;

      &-text-wrapper {
        max-width: 100%;
        flex-basis: 100%;
        padding-right: 30px;

        &-introduction {
          font-size: 14px;
          margin: 15px 0;
        }
        &-title {
          font-size: 17px;
          line-height: 22px;
          margin-bottom: 15px;
        }
      }
      &-image {
        max-width: 100%;
        flex-basis: 100%;
        background-color: #000;
        text-align: center;
        padding: 5px;

        & img {
          width: auto;
          height: 100%;
        }
      }
    }
  }
  @media (--viewport-xs-max) {
    & .kritikk-col {
      flex-basis: 50%;
      max-width: 50%;
      width: 50%;

      &__inner {
        height: fit-content;
        margin: 0 12.5px;

        &-text-wrapper {
          &-introduction {
            font-size: 12px;
            margin: 10px 0 7px;
          }
          &-title {
            font-size: 15px;
            line-height: 20px;
            margin-bottom: 20px;
          }
        }
        &-image {
          height: 150px;
        }
      }
    }
  }
}
</style>
