<script lang="ts">
import { Component, Vue, Prop } from "nuxt-property-decorator";
import { VNode, CreateElement } from "vue";
import { IGridEditor } from "../../types";

const components: any = {
  rte: () => import("./editors/Rte.vue"),
  betweenTitle: () => import("./editors/BetweenTitle.vue"),
  imageComponent: () => import("./editors/ImageComponent.vue"),
  textAndImage: () => import("./editors/TextAndImage.vue"),
  shortcuts: () => import("./editors/Shortcuts.vue"),
  contentSlider: () => import("./editors/Debug.vue"),
  customerCenter: () => import("./editors/Debug.vue"),
  iconLinks: () => import("./editors/Debug.vue"),
  newsList: () => import("./editors/Debug.vue"),
  productHighlight: () => import("./editors/Debug.vue"),
  productList: () => import("./editors/Debug.vue"),
  dynamicArticlesRow: () => import("./editors/DynamicArticlesRow.vue"),
  articleListVinduet: () => import("./editors/ArticleListVinduetRow.vue"),
  kritikkRow: () => import("./editors/KritikkRow.vue"),
};

@Component({
  components,
})
export default class GridColumn extends Vue {
  @Prop({
    default: {},
  })
  column!: IGridEditor;

  get viewModel() {
    return this.column.viewModel;
  }

  get columns() {
    return this.column.column;
  }

  get alias() {
    return this.column.alias;
  }

  public render(h: CreateElement): VNode {
    if (!components[this.alias]) {
      console.log(`No render for ----------------> ${this.alias}`); // eslint-disable-line no-console
      return h();
    }

    const className = `grid-column col-xs-12 col-ms-${this.columns}`;

    // Render the component with a wrapper containing the column classes
    return h(
      "div",
      {
        attrs: {
          class: className,
        },
      },
      [
        h(this.alias, {
          props: {
            viewModel: this.viewModel,
            size: this.columns,
          },
        }),
      ]
    );
  }
}
</script>
<style lang="postcss">
.grid-column {
  /* padding: 25px 15px; */
  margin-bottom: 20px;

  @media (--viewport-xs-max) {
    padding: 15px 15px;
  }
}

.grid-row.bottom-separator > .grid-row__background {
  padding-bottom: 1px;
  border-bottom: 1px solid #000;
}
</style>
