<template>
  <div v-bind:class="`grid-row ${customClass}`">
    <div class="grid-row__background" :style="style">
      <div class="container">
        <div class="row">
          <grid-column
            v-for="(column, index) in columns"
            :key="index"
            :column="column"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from "nuxt-property-decorator";
import { IGridRowModel } from "~/types";
import GridColumn from "~/components/grid/GridColumn.vue";

@Component({
  components: {
    GridColumn,
  },
})
export default class GridRow extends Vue {
  @Prop({
    default: {},
  })
  row!: IGridRowModel;

  get columns() {
    return this.row.editors;
  }

  get customClass() {
    const customClass = this.row.customClass ? this.row.customClass : "";
    if (this.row.bottomSeparator) {
      return customClass
        ? `${customClass} bottom-separator`
        : "bottom-separator";
    }
    return customClass;
  }

  get bottomSeparator() {
    return this.row.customClass ? this.row.customClass : "";
  }

  get hasBackground() {
    return !!this.row.backgroundColor;
  }

  get style(): string {
    let style = "";
    if (this.hasBackground) {
      style += `background-color: ${this.row.backgroundColor}; `;
    }

    return style;
  }
}
</script>
<style lang="postcss"></style>
