<template>
  <div class="four0four-page">
    <div class="content">
      <grid-row v-for="(row, index) in grid.rows" :key="index" :row="row" />
    </div>
  </div>
</template>

<script lang="ts">
import { Component } from "nuxt-property-decorator";
import Page from "../mixins/Page.vue";

@Component({
  components: {},
})
export default class TextPageTemplate extends Page {}
</script>

<style lang="postcss">
.four0four-page {
  min-height: 85vh;

  .image-component__image {
    margin-top: 50px;
    text-align: center;
  }
}
</style>
