<template>
  <div class="archivepage-page">
    <div class="content">
      <div class="container">
        <div class="row">
          <h2 class="col-xs-12">
            {{ title }}
          </h2>
        </div>
        <div
          id="archived-articles"
          class="grid-items"
          data-onapp-init-v-controller="gridHeadlessContentController"
          data-api-endpoint-url="http://gyldendalstagingapi.azurewebsites.net"
          :data-pagination-size="paginationSize"
        >
          <div class="archive-list__title">
            <div class="col-md-2">
              <h4>
                <a class="published-order" href="javascript://">PUBLISERT</a>
              </h4>
            </div>
            <div class="col-md-10">
              <div class="row">
                <div class="col-md-4">
                  <h4>
                    <a class="author-order" href="javascript://">FORFATTER (A–Å)</a>
                  </h4>
                </div>
                <div class="col-md-6">
                  <h4>
                    <a class="title-order" href="javascript://">TITTEL (A–Å)</a>
                  </h4>
                </div>
                <div class="col-md-2">
                  <h4>
                    <a class="genre-order" href="javascript://">SJANGER</a>
                  </h4>
                </div>
              </div>
            </div>
          </div>
          <ul class="archive-list__wrapper row">
            <span>Loading articles</span>
          </ul>
          <button class="more-items">
            Flere artikler
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Prop } from "nuxt-property-decorator";
import Page from "../mixins/Page.vue";

@Component
export default class ArchivePageTemplate extends Page {
  @Prop() content!: any;

  get title() {
    return this.content.titleArchive;
  }

  get dataItems() {
    const dataItemsURL = `${process.env.API_URL}/api/archive`;
    return dataItemsURL;
  }

  get paginationSize() {
    const paginationSize = "{\"mobile\":4,\"desktop\":4}";
    return paginationSize;
  }
}
</script>

<style lang="postcss" scoped></style>
