<template>
  <div class="articlepage-page">
    <div class="content">
      <div class="container header-title">
        <div class="row">
          <div class="col-md-3 hide-mobile">
            {{ genre }}.
            <div v-if="authors && authors.length > 0">
              <div v-for="(author, index) in authors" :key="index">{{ author.firstName }} {{ author.lastName }}</div>
            </div>
            <div v-if="publishedDate">
              {{ publishedDate }}
            </div>
            <div v-else>
              {{ publishedNumber }}
            </div>
            <div v-html="factboxLeft" />
            <div class="header-social-networks">
              <social-links :items="socialShares" />
            </div>
          </div>
          <div class="col-xs-12 col-md-6">
            <h1>{{ articleTitle }}</h1>
            <h6 class="summary" v-html="ingress">
              <!-- {{ summary }} -->
            </h6>
          </div>
          <div class="col-md-3 hide-mobile">
            <div v-html="factboxRight" />
            <p>
              {{ extraData }}
            </p>
          </div>
        </div>
        <div class="row hide-desktop">
          <div class="col-xs-6 info-data-wrapper">
            {{ genre }}.
            <div v-if="authors && authors.length > 0">
              <div v-for="(author, index) in authors" :key="index">{{ author.firstName }} {{ author.lastName }}</div>
            </div>
            <div v-if="publishedDate">
              {{ publishedDate }}
            </div>
            <div v-else>
              {{ publishedNumber }}
            </div>
          </div>
          <div class="col-xs-6">
            <div v-html="factboxRight" />
            <p>
              {{ extraData }}
            </p>
          </div>
        </div>
      </div>
      <div v-if="featuredImage" class="container">
        <div class="row center-xs">
          <div class="col-xs-12 col-md-8">
            <figure class="featured-image-wrapper">
              <img :src="featuredImage.url" :alt="featuredImage.altText" />
              <figcaption class="center-xs">
                <div v-html="featuredImage.title" />
              </figcaption>
            </figure>
          </div>
        </div>
      </div>
      <div class="container grid-wrapper">
        <div class="row bottom-xs">
          <div class="col-md-3 hide-mobile">
            <social-links :items="socialShares" />
          </div>
          <div class="col-xs-12 col-md-6">
            <!-- <grid-row v-for="(row, index) in grid.rows" :key="index" :row="row" /> -->
            <div v-html="body"></div>
          </div>
          <div class="col-xs-12 col-md-3">
            <div class="row">
              <div class="col-xs-6 hide-desktop">
                <social-links :items="socialShares" />
              </div>
              <div class="col-xs-6 col-md-12">
                <!-- TODO: Get author firstname, lastname and bio -->
                <div v-if="authors && authors.length > 0">
                  <div v-for="(author, index) in authors" :key="index">
                    {{ author.firstName }}
                    <div v-html="author.bio" />
                  </div>
                </div>
                <!-- <div v-html="extraDataFooter" /> -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <div v-if="footNotes" class="footnotes-component desktop-view" data-onapp-init-v-controller="footnotesComponentController">
        <div class="footnotes-component__container">
          <div v-for="(note, index) in footNotes" :key="index">
            <div class="footnotes-component__note" :data-footnote-id="note.id">
              <span>{{ note.id }}. {{ note.text }}</span>
            </div>
          </div>
        </div>
      </div>
      <newsletter-cta :cta-text="ctaText" />
      <!-- <related-articles :articles-id="relatedArticlesIds" /> -->
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Prop } from "nuxt-property-decorator";
import Page from "../mixins/Page.vue";
import SocialLinks from "../components/article/SocialLinks.vue";
import NewsletterCta from "../components/common/NewsletterCta.vue";
import RelatedArticles from "../components/article/RelatedArticles.vue";
import { ISocialLink } from "../types";

@Component({
  components: {
    SocialLinks,
    NewsletterCta,
    RelatedArticles,
  },
})
export default class ArticlePageTemplate extends Page {
  @Prop() content!: any;

  get articleTitle() {
    return this.content.title;
  }

  get body() {
    return this.content.body;
  }

  get ingress() {
    return this.content.ingress;
  }

  get genre() {
    return this.content.genre;
  }

  get authors() {
    return this.content.author.data;
  }

  get publishedDate() {
    return this.content.publishedInfo;
  }

  get publishedNumber() {
    return this.content.publishedNumber;
  }

  get factboxLeft() {
    return this.content.factboxLeft;
  }

  get factboxRight() {
    return this.content.factboxRight;
  }

  get extraData() {
    return this.content.extraData;
  }

  get featuredImage() {
    return this.content.image;
  }

  get extraDataFooter() {
    return this.content.extraDataFooter;
  }

  get footNotes() {
    return this.content.footNotes;
  }

  // get relatedArticlesIds() {
  //   return this.content.relatedArticlesIds;
  // }

  get ctaText() {
    return '<a href="https://www.gyldendal.no/om-gyldendal/nyhetsbrev/meld-deg-pa-vinduets-nyhetsbrev/" target="_blank">Meld deg på Vinduets nyhetsbrev!</a>';
  }

  get socialShares(): ISocialLink[] {
    const socials = ["twitter", "facebook", "linkedin"];
    const host = process.env.BASE_URL;
    const url = `${host}${this.$route.fullPath}`;
    const headline = this.content.title;

    return socials.map((type: string): ISocialLink => {
      const item: ISocialLink = {
        target: "_blank",
        url: "",
        type,
      };

      switch (type) {
        case "twitter":
          item.url = `https://twitter.com/intent/tweet?url=${url}&text=${headline}`;
          item.name = "Share on Twitter";
          break;
        case "facebook":
          item.url = `https://www.facebook.com/sharer.php?u=${url}`;
          item.name = "Share on Facebook";
          break;
        case "linkedin":
          item.url = `http://www.linkedin.com/shareArticle?mini=true&url=${url}&title=${headline}`;
          item.name = "Share on Linkedin";
          break;

        default:
          break;
      }

      return item;
    });
  }
}
</script>
<style lang="postcss" scoped></style>
