<template>
  <div class="authors-list-page">
    <div class="content">
      <div class="container">
        <div class="row">
          <h2 class="col-xs-12">
            {{ title }}
          </h2>
        </div>
        <div
          id="authors-items"
          class="grid-items container"
          data-onapp-init-v-controller="gridHeadlessContentController"
          :data-api-endpoint-url="dataItems"
          :data-pagination-size="paginationSize"
        >
          <ul class="authors-list__wrapper row">
            <span>Loading authors</span>
          </ul>
          <button class="more-items">
            Flere forfattere
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Prop } from "nuxt-property-decorator";
import Page from "../mixins/Page.vue";

@Component
export default class AuthorsPageTemplate extends Page {
  @Prop() content!: any;

  get title() {
    return this.content.titleAuthors;
  }

  get dataItems() {
    const dataItemsURL = `${process.env.API_URL}/api/authors`;
    return dataItemsURL;
  }

  get paginationSize() {
    const paginationSize = "{\"mobile\":4,\"desktop\":4}";
    return paginationSize;
  }
}
</script>
<style lang="postcss" scoped></style>
