<template>
  <div class="categorypage-page">
    <div class="content">
      <div class="container">
        <div class="row">
          <h2 class="col-xs-12">
            {{ title }}
          </h2>
        </div>
        <!-- <div
          id="pinned-articles"
          class="grid-items container"
          data-onapp-init-v-controller="gridHeadlessContentController"
          :data-api-endpoint-url="dataPinnedItems"
          data-pagination-size="{'mobile':4,'desktop':8}"
        >
          <ul class="pinned-article-list__wrapper row">
            <span>Loading articles</span>
          </ul>
          <button class="button-pinned-articles">
            Flere artikler
          </button>
        </div> -->
        <div
          id="normal-articles"
          class="grid-items container"
          data-onapp-init-v-controller="gridHeadlessContentController"
          :data-api-endpoint-url="dataNormalItems"
          data-pagination-size="{'mobile':4,'desktop':8}"
        >
          <ul class="article-list__wrapper row">
            <span>Loading articles</span>
          </ul>
          <button class="more-items">
            Flere artikler
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Prop } from "nuxt-property-decorator";
import Page from "../mixins/Page.vue";

@Component
export default class CategoryPageTemplate extends Page {
  @Prop() content!: any;

  get title() {
    return this.content.titleCategory;
  }

  // get dataPinnedItems() {
  //   return `${process.env.API_URL}/api/articles?pinned=1&category=${this.content.titleCategory}`;
  // }

  get dataNormalItems() {
    return `${process.env.API_URL}/api/articles?category=${this.content.titleCategory}`;
  }
}
</script>

<style lang="postcss" scoped>
h2 {
  text-align: center;
  margin: 50px 0 25px;
  font-size: 28px;
  text-transform: uppercase;
  @media (--viewport-md-min) {
    margin-bottom: 50px;
  }
}

.category-list {
  &__title {
    display: none;
    @media (--viewport-md-min) {
      display: flex;
    }
  }

  &__wrapper {
    margin: 25px 0 0 0;
    padding: 0;
    list-style: none;
    @media (--viewport-md-min) {
      margin-top: 50px;
    }
  }

  &__item {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #000;
  &-link {
      text-decoration: none;
      color: #000;
    }
  }
}

.genre-wrapper {
  display: none;
  @media (--viewport-md-min) {
    display: flex;
  }
}
</style>
