<template>
  <div class="categorypage-page">
    <div class="content">
      <div class="container">
        <div class="row">
          <h2 class="col-xs-12">
            {{ title }}
          </h2>
        </div>
      </div>
      <div
        id="normal-articles"
        class="grid-items container"
      >
        <ul class="article-list__wrapper row">
          <li v-for="(article, index) in articles" :key="index" class="article-list__item col-xs-12 col-md-3">
            <ALink class="article-list__item-link row" :to="article.url">
              <div v-if="article.image" class="col-xs-12 col-md-12">
                <figure class="image-wrapper">
                  <img :src="article.image">
                </figure>
              </div>
              <div class="col-xs-12 col-md-12">
                <div class="info-wrapper">
                  {{ article.genre }}. {{ article.authorFirstName }} {{ article.authorLastName }}
                </div>
                <h4 class="title-wrapper">
                  {{ article.title }}
                </h4>
                <div class="desc-wrapper" v-html="article.ingress" />
              </div>
            </ALink>
          </li>
        </ul>
        <!-- <button class="more-items">
          Flere artikler
        </button> -->
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Prop } from "nuxt-property-decorator";
import ALink from "../components/common/ALink.vue";
import Page from "../mixins/Page.vue";

@Component({
  components: {
    ALink,
  },
})
export default class GenrePageTemplate extends Page {
  @Prop() content!: any;

  get title() {
    return this.content.name;
  }

  get articles() {
    return this.content.articles.data;
  }
}
</script>

<style lang="postcss" scoped>
h2 {
  text-align: center;
  margin: 50px 0 25px;
  font-size: 28px;
  text-transform: uppercase;
  @media (--viewport-md-min) {
    margin-bottom: 50px;
  }
}

.category-list {
  &__title {
    display: none;
    @media (--viewport-md-min) {
      display: flex;
    }
  }

  &__wrapper {
    margin: 25px 0 0 0;
    padding: 0;
    list-style: none;
    @media (--viewport-md-min) {
      margin-top: 50px;
    }
  }

  &__item {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #000;
  &-link {
      text-decoration: none;
      color: #000;
    }
  }
}

.genre-wrapper {
  display: none;
  @media (--viewport-md-min) {
    display: flex;
  }
}
</style>
