<template>
  <div class="container">
    <ul class="pinned-article-list__wrapper row">
      <li v-for="(article, index) in pinnedArticles" :key="index" class="article-list__item col-xs-12 col-md-6">
        <NuxtLink class="article-list__item-link row" :to="article.link.url">
          <div class="col-xs-12 col-md-12">
            <figure class="pinned-image-wrapper">
              <img :src="article.image.url" class="image-wrapper-pinned">
            </figure>
          </div>
          <div class="col-xs-12 col-md-12">
            <div class="info-wrapper">
              {{ article.genre }}. {{ article.author }}
            </div>
            <h4 class="title-wrapper">
              {{ article.title }}
            </h4>
            <h5 class="desc-wrapper">
              {{ article.description }}
            </h5>
          </div>
        </NuxtLink>
      </li>
    </ul>
    <ul class="article-list__wrapper row">
      <li v-for="(article, index) in articles" :key="index" class="article-list__item col-xs-12 col-md-3">
        <NuxtLink class="article-list__item-link row" :to="article.link.url">
          <div class="col-xs-12 col-md-12">
            <figure class="image-wrapper">
              <img :src="article.image.url">
            </figure>
          </div>
          <div class="col-xs-12 col-md-12">
            <div class="info-wrapper">
              {{ article.genre }}. {{ article.author }}
            </div>
            <h4 class="title-wrapper">
              {{ article.title }}
            </h4>
            <h5 class="desc-wrapper">
              {{ article.description }}
            </h5>
          </div>
        </NuxtLink>
      </li>
    </ul>
    <div class="row">
      <h2 class="col-xs-12 more-articles">
        Flere artikler
      </h2>
    </div>
  </div>
</template>
<script lang="ts">
import { Component, Vue } from "nuxt-property-decorator";

@Component

export default class extends Vue {
  public articles: any[] = [];

  public pinnedArticles: any[] = [];

  mounted() {
    this.getArticles();
    this.getPinnedArticles();
  }

  async getArticles() {
    const { data } = await (this as any).$categoryApi.getArticles();
    this.articles = data;
  }

  async getPinnedArticles() {
    const { data } = await (this as any).$categoryApi.getPinnedArticles();
    this.pinnedArticles = data;
  }
}
</script>
<style lang="postcss" scoped></style>
