<script lang="ts">
import { Component, Vue, Prop } from 'nuxt-property-decorator';
import { CreateElement, VNode } from 'vue';
// import { ImageSize, IImage } from '~/types';
import {ImageSize, IImage} from '../../types/index'

@Component({
  inheritAttrs: false,
})
export default class extends Vue {
  staticClass: string = '';

  @Prop({
    default: false,
  })
  isBackground!: boolean;

  @Prop() image!: IImage;

  @Prop() heightRatio!: number;

  @Prop() imageHeight!: number;

  @Prop({
    default: () => {
      return [];
    },
  })
  sizes!: ImageSize[];

  public render(h: CreateElement): VNode {
    if (!this.image) {
      return h();
    }

    let className = 'lazyload';

    if (this.$vnode && this.$vnode.data && this.$vnode.data.staticClass) {
      className += ` ${this.$vnode.data.staticClass}`;
    }

    const tag = 'img';
    if (this.isBackground) {
      className += ' lazyload-bg';
    }

    if (!this.sizes.length) {
      className += ' lazyload-measure';
    }

    const dataQuery: any = {
      mode: 'crop',
      center: '0.5%2C0.5',
    };

    if (this.imageHeight) {
      dataQuery.height = this.imageHeight;
    }

    if (
      this.image.focalPoint &&
      this.image.focalPoint.top &&
      this.image.focalPoint.left
    ) {
      dataQuery.center = `${this.image.focalPoint.top}%2C${this.image.focalPoint.left}`;
    }

    this.staticClass = className;

    const attrs: any = {
      class: className,
      'data-src': this.url,
      'data-query-obj': JSON.stringify(dataQuery),
    };

    if (this.imageSizes) {
      attrs['data-sizes'] = 'auto';
      attrs['data-srcset'] = this.imageSizes;
    }

    if (this.heightRatio != null) {
      attrs['data-height-ratio'] = this.heightRatio;
    }

    if (this.image.altText) {
      attrs.alt = this.image.altText;
    }

    if (this.image.title) {
      attrs.title = this.image.title;
    }

    return h(
      tag,
      {
        attrs,
      },
      this.$slots.default,
    );
  }

  mounted() {
    if (this.staticClass) {
      this.$el.setAttribute('class', this.staticClass);
    }
  }

  get url() {
    if (!this.image || !this.image.url) {
      return null;
    }

    // If the url contains remote.axd add an questionmark to make imageProcessor work
    // eslint-disable-next-line unicorn/prefer-includes
    if (this.image.url.indexOf('remote.axd') !== -1) {
      const query = this.sizes.length
        ? `width=${this.sizes[0].imageWidth}&quality=80`
        : 'quality=80';
      return `${this.image.url}?${query}`;
    }
    return `${this.image.url}?quality=80`;
  }

  get imageSizes() {
    if (!this.image) {
      return null;
    }

    const { image, heightRatio } = this;
    return this.sizes
      .reduce((arr: string[], currentValue: ImageSize) => {
        const str = `${image.url}?width=${currentValue.imageWidth}&quality=80${
          heightRatio ? `&heightratio=${heightRatio}&mode=crop` : ''
        } ${currentValue.windowWidth ? `${currentValue.windowWidth}w` : ''}`;
        arr.push(str);
        return arr;
      }, [])
      .join(', ');
  }
}
</script>
<style lang="postcss" scoped>
img {
  width: 100%;
  height: auto;
  max-height: 100%;
  flex-shink: 0;
  transition: opacity 0.2s ease-in;
  display: block;

  &.lazyload:not([src]) {
    opacity: 0;
    visibility: hidden;
  }

  &.lazyloaded {
    opacity: 1;
  }

  &.lazyload-bg {
    opacity: 0;
    visibility: hidden;
    width: 0;
    height: 0;
  }
}
</style>
