<template>
  <div class="container-fluid">
    <div class="grid-row">
      <div class="grid-row__background" style="background-color:#000;">
        <div class="container">
          <div class="row">
            <div class="grid-column col-xs-12 col-ms-12">
              <div>
                <div class="rte">
                  <h3 class="newsletter-link" v-html="ctaText" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script lang="ts">
import { Vue, Prop, Component } from "nuxt-property-decorator";

@Component
export default class NewsletterCta extends Vue {
 @Prop() ctaText!: string;
}
</script>
<style lang="postcss" scoped></style>
