<template>
  <nav>
    <ul class="segment-list">
      <li v-for="segment in segments" :key="segment.url" class="segment-list__item">
        <ef-link :to="segment.url" :blank="segment.target" class="segment-link">
          {{ segment.name }}
        </ef-link>
      </li>
    </ul>
  </nav>
</template>
<script lang="ts">
import { Component, Vue, Prop } from 'nuxt-property-decorator';
import { ILink } from '~/types';
import ALink from '~/components/common/ALink.vue';

@Component({
  components: {
    ALink,
  },
})
export default class SegmentList extends Vue {
  @Prop({
    default: [],
  })
  segments!: ILink[];
}
</script>
<style lang="postcss" scoped></style>
