/**
 * Base
 */

/* Box sizing */

* {
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
}

/* Body */
body {
  background-color: var(--color-bg);
  font-family: var(--base-font-family);
  font-weight: var(--base-font-weight);
  font-size: var(--base-font-size);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--color-text);
  line-height: 1.45;
  overflow-x: hidden;
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

/* Vue styling */
[v-cloak] {
  display: none;
}

.page-enter-active,
.page-leave-active {
  transition-property: opacity;
  transition-timing-function: ease-in-out;
  transition-duration: 500ms;
}

.page-enter,
.page-leave-to {
  opacity: 0;
}

.articlepage-page .grid-row .row {
  justify-content: center;
}

main {
  margin-top: 80px;
}

.rte * {
  margin: 0;
}

.rte i {
  font-family: var(--base-font-family-italic);
}

.newsletter-link {
  text-align: center;

  a {
    text-decoration: none;
    color: var(--color-white);
  }
}

figure img {
  max-width: 100%;
  height: auto;
}

.icon {
  max-width: 20px;
  height: auto;
}

.icon-header {
  max-width: 20px;
  height: 20px;
}

.hide-desktop {
  @media (--viewport-md-min) {
    display: none;
  }
}

.hide-mobile {
  @media (--viewport-sm-max) {
    display: none;
  }
}

sup {
  font-weight: bold;
  cursor: pointer;
  padding: 15px;
  position: relative;
  margin: 0 -15px !important;
  text-decoration: underline;
  color: var(--color-link);
}
