.button {
  text-align: center;
  min-width: 120px;
  border-radius: 3px;
  height: 43px;
  color: var(--color-white);
  font-weight: 600;
  text-decoration: none;
  background-color: var(--color-black);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 25px;
  border: 0;
  position: relative;
  cursor: pointer;
}
