@font-face {
  font-family: "Mercure-Italic";
  src: url("/fonts/mercure/Mercure-Italic.woff") format("woff"), url("/fonts/Mercure-Italic.woff2") format("woff2");
  font-style: normal;
  font-weight: normal;
  font-display: fallback;
}

@font-face {
  font-family: "Mercure-Regular";
  src: url("/fonts/mercure/Mercure-Regular.woff") format("woff"), url("/fonts/Mercure-Italic.woff2") format("woff2");
  font-style: normal;
  font-weight: normal;
  font-display: fallback;
}

@font-face {
  font-family: "Mercure-Transcript";
  src: url("/fonts/mercure/Mercure-Transcript.woff") format("woff"), url("/fonts/Mercure-Transcript.woff2") format("woff2");
  font-style: normal;
  font-weight: normal;
  font-display: fallback;
}

@font-face {
  font-family: Geogrotesque;
  src: url(/fonts/geogrotesque/geogrotesque_regular-webfont.eot);
  src: url(/fonts/geogrotesque/geogrotesque_regular-webfont.eot?#iefix) format("embedded-opentype"),
    url(/fonts/geogrotesque/geogrotesque_regular-webfont.woff) format("woff");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Geogrotesque;
  src: url(/fonts/geogrotesque/geogrotesque_bold-webfont.eot);
  src: url(/fonts/geogrotesque/geogrotesque_bold-webfont.eot?#iefix) format("embedded-opentype"),
    url(/fonts/geogrotesque/geogrotesque_bold-webfont.woff) format("woff");
  font-display: swap;
  font-weight: 600;
  font-style: normal;
}
