h1,
h2,
h3,
h4,
.h1,
.h2,
.h3,
.h4 {
  font-family: var(--base-font-family);
  margin: 0;
  font-weight: 400;
  line-height: 1.2;
}

h1,
.h1 {
  font-size: 1.875em;
  margin-bottom: 0.2em;
  font-weight: 300;
}

h2,
.h2 {
  font-size: 1.675em;
}

h3,
.h3 {
  font-size: 1.44em;
}

h4,
.h4 {
  font-size: 1.2em;
}

@media only screen and (--viewport-lg-min) {
  h1 {
    font-size: 3em;
  }
}
