.archivepage-page {
  h2 {
    text-align: center;
    margin: 50px 0 25px;
    font-size: 28px;
    text-transform: uppercase;

    @media (--viewport-md-min) {
      margin-bottom: 50px;
    }
  }

  .archive-list {
    &__title {
      display: none;
      @media (--viewport-md-min) {
        display: flex;
        margin: 0 -15px;
      }

      h4 a {
        display: block;
        text-decoration: none;
        color: var(--color-black);
        &:hover {
          text-decoration-line: underline;
          text-decoration-style: dashed;
        }
      }
    }
    &__wrapper {
      margin: 25px 0 0 0;
      padding: 0;
      list-style: none;
      @media (--viewport-md-min) {
        margin-top: 50px;
      }
    }
    &__item {
      padding: 10px 0;
      border-bottom: 1px solid #000;
      &-link {
        text-decoration: none;
        color: #000;
      }
    }
  }

  .genre-wrapper {
    display: none;
    @media (--viewport-md-min) {
      display: flex;
    }
  }
}
