.articlepage-page {
  .header-title {
    padding-top: 40px;

    h1 {
      text-align: center;
      font-size: 40px;
    }

    .summary {
      font-size: 23px;
      font-weight: normal;
      margin: 40px 0;
    }

    .header-social-networks {
      margin-top: 50px;
    }
  }

  .featured-image-wrapper {
    margin-bottom: 40px;
    & figcaption {
      margin-top: 15px;
    }
  }

  .grid-wrapper {
    margin-bottom: 80px;

    .grid-column {
      @media (--viewport-md-max) {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }

  .article-list {
    &__wrapper {
      margin: 30px -15px 0 -15px;
      padding: 0;
      list-style: none;
    }

    &__item {
      margin: 0 0 30px 0;
      border-bottom: 1px solid var(--color-black);
      padding-bottom: 30px;

      &:last-child {
        border-bottom: 0 none;
        padding-bottom: 0;
      }

      @media (--viewport-md-min) {
        border-bottom: 0 none;
        padding-bottom: 0;
      }

      &-link {
        color: var(--color-black);
        text-decoration: none;
        margin-left: 0;
        margin-right: 0;

        figure {
          verflow: hidden;
          max-height: 160px;
        }
      }
    }

    &__text-wrapper {
      @media (--viewport-md-min) {
        padding-left: 0;
        padding-right: 0;
      }
    }

    &__info-wrapper {
      margin: 0 0 15px 0;
      @media (--viewport-md-min) {
        margin: 15px 0 0 0;
      }
    }

    &__title-wrapper {
      font-size: 22px;
      @media (--viewport-md-min) {
        font-size: 36px;
      }
    }
  }
}
