.authors-list-page {
  h2 {
    text-align: center;
    margin: 50px 0;
    font-size: 28px;
    text-transform: uppercase;
  }

  .authors-list {
    &__wrapper {
      margin: 0;
      padding: 0;
    }
    &__item {
      padding-bottom: 5px;
      border-bottom: 1px solid #000;

      h5 {
        margin: 0;
        padding-top: 5px;
        font-size: 24px;
        font-weight: normal;
        line-height: 48px;
        max-width: inherit;
        flex-basis: 100%;
        cursor: pointer;

        span {
          display: inline-block;
          &:before {
            content: "";
            background-image: url(/img/triangle-button-of-right-arrow.svg);
            background-repeat: no-repeat;
            background-size: 100%;
            background-position: 0 50%;
            display: inline-block;
            width: 14px;
            height: 14px;
          }
        }
      }

      &.expandable-item.expanded {
        h5 {
          flex-basis: 33.33333333%;
          max-width: 33.33333333%;

          span {
            &:before {
              transform: rotate(90deg);
            }
          }
        }

        & .bio-wrapper,
        & .texts-wrapper {
          pointer-events: none;
          display: flex;
          opacity: 1;
        }
      }
    }
  }

  .bio-wrapper,
  .texts-wrapper {
    font-size: 24px;
    margin-top: 12px;
    display: none;
    opacity: 0;

    p {
      margin-top: 0;
    }
  }

  .texts-wrapper ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
}
