.pinned-article-list__wrapper,
.article-list__wrapper {
  margin: 0 -15px 0 -15px;
  padding: 0;
  list-style: none;
}

.article-list__wrapper .desc-wrapper {
  @media (--viewport-md-min) {
    display: none;
  }
}

.article-list__item {
  margin: 0 0 30px 0;
  padding-bottom: 30px;
  @media (--viewport-md-min) {
    border-bottom: 0 none;
    padding-bottom: 0;
  }
}

.article-list__item-link {
  color: var(--color-black);
  text-decoration: none;

  & figure {
    overflow: hidden;
    height: 190px;
    background-color: var(--color-black);
    z-index: -1;
    &.pinned-image-wrapper {
      height: 365px;
    }
    & img {
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.info-wrapper {
  margin: 15px 0 15px 0;
}

.title-wrapper {
  font-size: 28px;
  text-align: left;
  text-transform: uppercase;
  @media (--viewport-md-min) {
    font-size: 28px;
    white-space: normal;
    width: 100%;
    text-overflow: ellipsis;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
  }
}

.desc-wrapper {
  margin-top: 0;
  font-size: 24px;
  font-weight: normal;
  @media (--viewport-md-min) {
    margin-top: 20px;
  }
}

.more-items {
  display: block;
  text-align: center;
  margin: 50px auto 25px;
  font-size: 28px;
  text-transform: uppercase;
  &.hidden {
    display: none;
  }
}

.button-pinned-articles {
  display: none;
}
