.footnotes-component.desktop-view {
  position: absolute;
  top: 0;
  right: 0;
  width: 280px;
  display: none;

  &.active {
    display: block;
  }

  & .footnotes-component__container {
    width: 100%;
    height: 100%;
  }

  & .footnotes-component__note {
    position: absolute;
    left: 0;
    font-size: 11px;
    padding: 15px;
    margin-right: 15px;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: opacity 0.5s, visibility 0s 0.5s, box-shadow 0.3s;

    &.visible {
      opacity: 1;
      visibility: visible;
      transition: opacity 0.5s, visibility 0s, box-shadow 0.5s 1s;
    }
  }
}

.footnotes-component.mobile-view {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  height: fit-content;
  display: none;

  &.active {
    display: block;
  }

  & .footnotes-component__container {
    width: 100%;
    height: 100%;
  }

  & .footnotes-component__note {
    position: absolute;
    bottom: 0;
    font-size: 11px;
    padding: 15px;
    width: 100%;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: opacity 0.5s, visibility 0s 0.5s, box-shadow 0.3s;

    &.visible {
      opacity: 1;
      visibility: visible;
      transition: opacity 0.5s, visibility 0s, box-shadow 0.5s 1s;
    }
  }
}