<template>
  <div>
    <the-header />
    <nuxt :key="nuxtKey" />
    <the-footer />
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "nuxt-property-decorator";
import TheHeader from "../components/globals/TheHeader.vue";
import TheFooter from "../components/globals/TheFooter.vue";

@Component({
  components: {
    TheHeader,
    TheFooter,
  },
})
export default class extends Vue {
  get nuxtKey() {
    return this.$route.path;
  }
}
</script>
