<template>
  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-xs-6">
          <div class="row">
            <div class="col-xs-12 col-md-6 logo-wrapper">
              <the-vinduet-logo />
            </div>
            <div class="col-xs-12 col-md-6">
              <h6>Redaktører:</h6>
              <ul>
                <li>
                  {{ vinduetSiteFooter.editors }}
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="row">
            <div class="col-xs-12 col-md-6">
              <h6>Kontakt:</h6>
              <ul>
                <li>
                  {{ vinduetSiteFooter.contact }}
                </li>
              </ul>
            </div>
            <div class="col-xs-12 col-md-6">
              <div class="row">
                <div class="col-xs-8 col-sm-9">
                  <h6>Utgiver:</h6>
                  <ul>
                    <li>
                      {{ vinduetSiteFooter.publisher }}
                    </li>
                  </ul>
                </div>
                <div class="col-xs-4 col-sm-3 center-xs">
                  <the-gyldendal-logo />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
</template>

<script lang="ts">
import { Component, Vue } from "nuxt-property-decorator";
import { INavigationItem, ILink } from "../../types";
import ALink from "../common/ALink.vue";
import TheVinduetLogo from "./TheVinduetLogo.vue";
import TheGyldendalLogo from "./TheGyldendalLogo.vue";

@Component({
  components: {
    TheVinduetLogo,
    TheGyldendalLogo,
    ALink,
  },
})
export default class TheFooter extends Vue {
  get navigation(): INavigationItem[] {
    return this.$store.getters["site/getFooter"].navigation;
  }

  get secondaryNavigation(): INavigationItem[] {
    return this.$store.getters["site/getFooter"].secondaryNavigation;
  }

  get legalLinks(): ILink[] {
    return this.$store.getters["site/getLegalLinks"];
  }

  get contactData(): any {
    return this.$store.getters["site/getContactData"];
  }

  get editorData(): any {
    return this.$store.getters["site/getEditorData"];
  }

  get publisherData(): any {
    return this.$store.getters["site/getPublisherData"];
  }

  get vinduetSiteSettings(): any {
    return this.$store.getters["site/getVinduetSiteSettings"];
  }

  get vinduetSiteFooter(): any {
    return this.$store.getters["site/getVinduetSiteFooter"];
  }
}
</script>
<style lang="postcss">
.footer {
  background-color: var(--color-black);
  color: var(--color-white);
  margin-top: 50px;
  padding: 25px 15px;

  .logo-wrapper img {
    max-width: 160px;
    height: auto;
    margin-bottom: 25px;
  }

  h6 {
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-weight: normal;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    & li a {
      font-size: 18px;
      text-decoration: none;
    }
  }
}
</style>
