<template>
  <img class="gyldendal-logo" :src="logoData.url">
</template>
<script lang="ts">
import { Component, Vue } from "nuxt-property-decorator";

@Component
export default class TheGyldendalLogo extends Vue {
  get logoData(): any[] {
    return this.$store.getters["site/getLogoData"];
  }
}
</script>
<style lang="postcss" scoped>
.gyldendal-logo {
  max-width: 30px;
  height: auto;
}
</style>
