<template>
  <header class="header">
    <div class="container">
      <div class="row">
        <div class="col-xs-3">
          <the-navigation />
        </div>
        <div class="col-xs-6">
          <div class="row">
            <div class="col-xs-12 center-xs logo-wrapper">
              <NuxtLink to="/">
                <the-vinduet-logo />
              </NuxtLink>
            </div>
          </div>
        </div>
        <div class="col-xs-3">
          <!-- <the-search class="search-icon" /> -->
        </div>
      </div>
    </div>
  </header>
</template>

<script lang="ts">
import { Component, Vue } from "nuxt-property-decorator";
import TheNavigation from "./header/TheNavigation.vue";
import TheSearch from "./header/TheSearch.vue";
import TheVinduetLogo from "./TheVinduetLogo.vue";

@Component({
  components: {
    TheNavigation,
    TheVinduetLogo,
    TheSearch,
  },
})
export default class TheHeader extends Vue {}
</script>

<style lang="postcss" scoped>
.header {
  padding: 25px 0 15px;
  background-color: var(--color-white);
  color: var(--color-text);
  position: fixed;
  z-index: 2;
  left: 0;
  right: 0;
  top: 0;
  border-bottom: 1px solid var(--color-black);
  max-height: 75px;
  overflow: hidden;
}
.logo-wrapper img {
  width: 100%;
  margin: 0 auto;
}
.search-icon {
  text-align: right;
}

.container {
  max-width: 1260px;
}
</style>
