<template>
  <img :src="logoData.url" class="vinduet-logo">
</template>
<script lang="ts">
import { Component, Vue } from "nuxt-property-decorator";

@Component
export default class TheVinduetLogo extends Vue {
  get logoData(): any[] {
    return this.$store.getters["site/getLogoData"];
  }
}
</script>
<style lang="postcss" scoped>
  .vinduet-logo {
    max-width: 205px
  }
</style>
