<template>
  <nav>
    <div class="buttons-wrapper">
      <button class="buttons-wrapper__nav-button">
        <i class="fas fa-bars fa-2x icon-open" />
        <i class="fas fa-times fa-2x icon-close" />
      </button>
    </div>
    <div class="navigation-wrapper">
      <div class="container navigation-content">
        <div class="row">
          <div class="col-xs-12 col-md-6">
            <div class="navigation-container">
              <ul v-if="navigationItems.length" class="navigation-menu">
                <li v-for="(item, index) in navigationItems" :key="index">
                  <ALink :to="item.link.url" class="navigation-link" :target="item.link.target">
                    {{ item.link.name }}
                  </ALink>
                </li>
              </ul>
              <ul v-if="navigationItemsSecondary.length" class="navigation-menu-secondary">
                <li v-for="(item, index) in navigationItemsSecondary" :key="index">
                  <ALink :to="item.url" class="navigation-link" :target="item.link.target">
                    {{ item.name }}
                  </ALink>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-xs-12 col-md-6">
            <div class="row">
              <div class="col-md-6 credits-container">
                <div v-html="columnText1Content" />
              </div>
              <div class="col-md-6 editors-container">
                <div v-html="columnText2Content" />
              </div>
            </div>
          </div>
        </div>
        <the-gyldendal-logo />
      </div>
    </div>
  </nav>
</template>

<script lang="ts">
import { Component, Vue } from "nuxt-property-decorator";
import { INavigationItem } from "../../../types";
import TheGyldendalLogo from "../TheGyldendalLogo.vue";
import ALink from "../../common/ALink.vue";

@Component({
  components: {
    TheGyldendalLogo,
    ALink,
  },
})
export default class TheNavigation extends Vue {
  get navigationItems(): INavigationItem[] {
    return this.$store.getters["navigation/getPrimaryItems"];
  }

  get navigationItemsSecondary(): INavigationItem[] {
    return this.$store.getters["navigation/getSecondaryItems"];
  }

  get getEditorData(): any[] {
    return this.$store.getters["navigation/getEditorData"];
  }

  get getNavigationText(): any[] {
    return this.$store.getters["navigation/getNavigationText"];
  }

  get contactData(): any[] {
    return this.$store.getters["site/getContactData"];
  }

  get editorData(): any[] {
    return this.$store.getters["site/getEditorData"];
  }

  get publisherData(): any[] {
    return this.$store.getters["site/getPublisherData"];
  }

  get editorialBoardContent(): any[] {
    return this.$store.getters["navigation/getEditorialBoardContent"];
  }

  get columnText1Content(): any[] {
    return this.$store.getters["navigation/getColumnText1Content"];
  }

  get columnText2Content(): any[] {
    return this.$store.getters["navigation/getColumnText2Content"];
  }
}
</script>

<style lang="postcss">
.navigation-wrapper {
  display: none;
  padding: 0 0 20px;
  background-color: var(--color-black);
  color: var(--color-text);
  position: fixed;
  left: 0;
  right: 0;
  top: 75px;
  height: 100%;
  z-index: 1;

  &.visible {
    display: block;
    overflow-y: scroll;
    overflow-x: hidden;
    height: initial;
    bottom: 0;
  }

  .navigation-content {
    position: relative;
    overflow-y: scroll;
    height: 100%;
    padding-top: 50px;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */

    &::-webkit-scrollbar {
      display: none;
    }

    & .gyldendal-logo {
      position: absolute;
      right: 15px;
      bottom: 0;
    }
  }

  .navigation-menu,
  .navigation-menu-secondary {
    margin: 0;
    padding: 0;
    text-align: center;

    @media (--viewport-md-min) {
      text-align: left;
    }
  }

  .navigation-menu-secondary {
    margin-top: 50px;
  }

  .navigation-link {
    color: var(--color-white);
    font-size: 24px;
    cursor: pointer;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }

  .credits-container,
  .editors-container {
    display: none;

    @media (--viewport-md-min) {
      display: flex;
    }

    p {
      color: var(--color-white);
    }

    a {
      color: var(--color-white);
      text-decoration: none;
    }

    h5 {
      color: var(--color-white);
      font-size: 22px;
      margin-top: 0;
    }

    & .editors {
      margin: 0;
      padding: 0;
      list-style: none;
      & .editors-item {
        color: var(--color-white);
      }
    }
  }

  .free-text,
  p {
    color: var(--color-white);
    margin: 0;
  }
}

.buttons-wrapper__nav-button {
  text-align: center;
  width: 34px;
  height: 34px;

  & .icon-header {
    max-width: 40px;
    height: 40px;
  }
  & .icon-close {
    display: none;
  }

  &.active {
    & .icon-close {
      display: block;
    }
    & .icon-open {
      display: none;
    }
  }
}
</style>
