<template>
  <div>
    <button class="toggle-search-button">
      <i class="fas fa-search fa-2x icon-search" />
      <i class="fas fa-times fa-2x icon-close" />
    </button>
    <div class="search-wrapper first-search">
      <div class="container search-content">
        <div class="row center-xs">
          <div class="col-xs-12 col-md-8">
            <form class="form-wrapper center-xs">
              <div class="input-search-label">
                <label for="article-search">Søk i Vinduets artikler</label>
              </div>
              <div class="input-search-container">
                <input id="article-search" name="article-search" type="text">
                <div class="progress hide-progress">
                  <div class="indeterminate" />
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 center-xs">
            <h5>Søkeresultater</h5>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <ul class="results-wrapper" />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script lang="ts">
import { Component, Vue } from "nuxt-property-decorator";
import ALink from "../../common/ALink.vue";

@Component({
  components: {
    ALink,
  },
})
export default class TheSearch extends Vue {}
</script>
<style lang="postcss">
.search-wrapper {
  display: none;
  padding: 0 0 20px;
  background-color: var(--color-black);
  color: var(--color-text);
  position: fixed;
  left: 0;
  right: 0;
  top: 75px;
  height: 100vh;
  z-index: 1;

  &.visible {
    display: block;
    overflow-y: scroll;
    overflow-x: hidden;
    height: initial;
    bottom: 0;
  }

  &.first-search {
    h5 {
      visibility: hidden;
    }
  }

  .search-content {
    overflow-y: scroll;
    height: 100%;
    padding-top: 50px;

    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .form-wrapper {
    display: block;
    padding: 50px 0;

    @media (--viewport-md-min) {
      display: flex;
    }

    .input-search {
      &-label {
        padding: 0 10px;
      }
      &-container {
        position: relative;
        width: 100%;
        margin-top: 15px;

        @media (--viewport-md-min) {
          width: 380px;
          margin-top: 0;
        }

        & > input {
          width: 100%;
          background-color: var(--color-black);
          color: var(--color-white);
          border: 0 none;

          &:focus {
            border: 0 none;
            border-bottom: 1px solid var(--color-white);
            outline: none;
          }
        }

        & .progress {
          position: absolute;
          bottom: 0;
          width: 100%;
          margin: 0 0 0 auto;
          background-color: #fff;
          height: 1px;

          @media (--viewport-md-min) {
            width: 380px;
          }
        }
      }
    }

    & label {
      color: var(--color-white);
    }
  }

  h5 {
    color: var(--color-white);
    font-size: 24px;
    text-transform: uppercase;
  }

  .results-wrapper {
    margin: 0;
    padding: 0;
    color: var(--color-white);
    list-style: none;
    text-align: left;

    a {
      color: inherit;
      text-decoration: none;
    }

    &__no-results-text {
      text-align: center;
      border-top: 1px solid rgba(255, 255, 255, 0.5);
      border-bottom: 1px solid rgba(255, 255, 255, 0.5);
      padding: 10px 0;
    }

    & li:not(.results-wrapper__no-results-text) {
      padding: 10px 0;
      border-bottom: 1px solid var(--color-white);
    }

    @media (--viewport-md-min) {
      & li:first-child:not(.results-wrapper__no-results-text) {
        border-top: 1px solid var(--color-white);
      }
    }

    .number-wrapper {
      text-align: left;
    }

    .genre-wrapper {
      display: none;
      @media (--viewport-md-min) {
        display: flex;
        text-align: right;
      }
    }
  }

  .search-link {
    color: var(--color-white);
    font-size: 24px;
    cursor: pointer;
  }
  .search-link:hover {
    text-decoration: underline;
  }
}

.toggle-search-button {
  width: 34px;
  height: 34px;

  & .icon-close {
    display: none;
  }

  &.active {
    & .icon-close {
      display: block;
    }
    & .icon-search {
      display: none;
    }
  }
}
</style>
